.container{
    background-color: rgb(128,128,128);
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 450px;
    padding: 15px;
    align-items: center;
}
.week-date,.task-selector-label{
    font-weight:700;
    font-size: large;
    margin-bottom: 2px;
    align-self:flex-start;
    
}
.shaded-tile{
    width: 18px;
    height: 18px;
    background-color: rgb(176,184,222);
    color: white;
    text-align: center;
    font-weight: 700;
    border-radius: 2.5px;
    cursor: pointer;
    justify-content: center;
    align-self: center;
}

.shaded-tile-container{
    display: flex;
    flex-direction: row;
    gap: 15px;
    padding: 10px;
    justify-content: center;
    height: 32px;
    width: 325px;
    background-color: rgb(44,63,131);
    border-radius: 5px;
}

.task-selector{
    height: 32px;
    border-radius: 4px;
    padding: 3px;
    align-self: flex-start;
    width: max-content;
}

.task-display-container{
    width: 350px;
    height: 160px;
    background-color: white;
    opacity: 50%;
    border-radius: 10px;
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.task-description{
    background-color: white;
    opacity: 100%;
    border-radius: 3px;
    width: 300px;
}

.timer-container{
    margin-top: 15px;
}
.time{
    width: 70px;
    height: 54px;
    border: solid black 1px;
    border-radius: 2px;
    font-size:xx-large;
    font-weight: 700;
    padding: 0px 1.5px;
}

.time-separator{
    font-size:large;
    font-weight: 700;
}

.control-panel{
    display: flex;
    flex-direction: row;
    gap: 25px;
    margin-top: 15px;
}
.control-icons{
    width: 20px;
    height: 20px;
    color: black;
}

.green4{
    background-color: rgb( 81, 255, 0);
    color: black;
    font-weight: 700;
}

.green3{
    background-color: rgb(139, 232, 177);
    color: black;
    font-weight: 700;
}

.green2{
    background-color: rgb(123, 214, 26);
    color: black;
    font-weight: 700;
}

.green1{
    background-color: rgb( 221, 242, 211);
    color: black;
    font-weight: 700;
}



.tooltip{
    position: absolute;
    z-index: 1000;
    display: none;
    background-color: rgb(180, 187, 207);
    border-radius: 5px;
    padding: 2px 3.5px;
    text-align: center;
    color: black;
    font:200;
    font-family: Arial, Helvetica, sans-serif;
    font-size:smaller
}