.tile-container{
    width: 305px;
    height: 55px;
    display: flex;
    flex-direction: row;
    gap: 15px;
    padding: auto;
    background-color: rgb(75,85,167);
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    align-self:center;
}

.task-history-container{
    display: flex;
    flex-direction: column;
    width:450px;
}

.task-history-label{
    font-size: 18px;
    font-weight: 600;
    padding-left: 10px;
    align-self: start;
    color: white;
}