.App {
    text-align: center;
    position: relative;
  }
  
  .App-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  
  .nav-container{
    display: flex;
    flex-direction: row;
    gap: 12px;  
    margin-bottom: 15px;
  }
  .nav-button{
    background: transparent;
    border: None;
    color: white;
    font-weight: 600;
    padding: 5px 10px;
  }

  .nav-button:hover{
    background: rgba(183, 188, 196, 0.25);
    border-radius: 5px;
    backdrop-filter: blur(10px); /* Apply the blur effect */
  }


  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .App-link {
    color: #61dafb;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }