.task-editor-container {
  background-color: white;
  border-radius: 10px;
  padding: 3px 5px;
  width: 450px;
  height: 500px;
  color: black;
  display: flex;
  flex-direction: column;
  padding-top: 0.5rem;
}

.time-slot-delete{
  width: 24px;
  height: 24px;
  
}