.timer-container{
    display: flex;
    flex-direction: column;
}

.timer-clock-container{
    /* height: 75%; */
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
    align-self: center;
}

.timer-time{
    margin:0;
    height:52px;
    width:43px;
    text-align: center;
    font-size: 32px;
    font-weight: 700;
    background-color: rgb(223,232,255);
    border: black solid 1.5px;
    border-radius: 5px;
}

.timer-separator{
    font-size: 32px;
    font-weight:900;
}

.timer-utilities-container{
    /* height: 25%; */
}

.timer-utilities{
    height: 36px;
    width: 36px;
    cursor: pointer;
}